ion-slide {
  display:block;
  }


h3{
  font-size: 16px;
  margin-bottom: 15px;
}

p{
  font-size: 16px;

}

span{
  margin-left: 20px;
  font-weight: 700;
    color: black;
    margin-left: 20px;
}

.date{
  margin-left: 20px;
  font-weight: 700;
    color:dimgray;
    margin-left: 20px;
}