<ion-header>
  
  <ion-toolbar color="green">
    <div class ="ion-text-end">



      <ion-buttons  style="float: left;  margin-top: 12px;" >
        <ion-button color = "dark" (click)="dismissModal()" >
         <div class="validerBonCommande">  Retour</div>
        </ion-button>
      </ion-buttons>
      
    </div>
  </ion-toolbar>

</ion-header>


<ion-content class ="ion-padding">
  <ion-card *ngFor="let cP of livraisonProduits" >

    <ion-col>
      <div class="detailProduitCommande"> Code Produit  : {{cP.code_prod}}</div>
      
  </ion-col>
    <ion-col>
      <div class="detailProduitCommande">Désignation Produit : {{cP.design_prod}}</div>
      
  </ion-col>
    <ion-col>
      <div class="detailProduitCommande"> Prix de vente HT : {{cP.pvht}}</div>
      
  </ion-col>
  <ion-col>
    <div class="detailProduitCommande"> TVA : {{cP.TVA}} %</div>
    
</ion-col>

<ion-col>
  <div class="detailProduitCommande"> Prix de vente TTC : {{cP.prixttc}}</div>
  
</ion-col>
  
 
    <ion-col>
      <div class="detailProduitCommande"> Quantité : {{cP.qte}} </div>
    </ion-col>

 
     
 
  <ion-col>
   <div class="detailProduitCommande"> Remise  : {{cP.remise}} % </div>
  </ion-col>

 
<ion-col>
  <div class="totalProduit"> Total  :{{cP.total}}  </div>
 </ion-col>

    
  </ion-card>



  
    <ion-button color="success" (click)="ValiderBonLivraison()" style="margin-left: 34%;">
     Valider
   
    </ion-button>
   
    
</ion-content>
